@using ParkingManager.DAL.Modules
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model ParkingManager.DTO.DashboardModule.DashboardDTO

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">

<div class="page-wrapper">
	<div class="content container-fluid">

		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">


						@if (SignInManager.IsSignedIn(User))
						{

							var user = await UserManager.FindByEmailAsync(User.Identity.Name);

							var roles = (await UserManager.GetRolesAsync(user)).FirstOrDefault();


							if (roles == "Admin")
							{
								<strong>Welcome @User.FindFirst("UserFirstName").Value !</strong>

							}

							else
							{
								var url = "/Account/Logout";

								Context.Response.Redirect(url);
							}

						}
						else
						{
							var url = "/Account/Logout";

							Context.Response.Redirect(url);

						}

					</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item active">Dashboard</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-primary border-primary">
								<i class="fe fe-users"></i>
							</span>
							<div class="dash-count">
								<h3>@ViewBag.Customers</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<h6 class="text-muted">Customers</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-primary w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-danger border-danger">
								<i class="fe fe-money"></i>
							</span>
							<div class="dash-count">
								<h3>@ViewBag.Booking</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<h6 class="text-muted">Booking</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-danger w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-primary border-primary">
								<i class="fe fe-users"></i>
							</span>
							<div class="dash-count">
								<h3>@ViewBag.AvailableParkingLots</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<h6 class="text-muted">Available Parking Lots</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-primary w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-warning border-warning">
								<i class="fe fe-folder"></i>
							</span>
							<div class="dash-count">
								<h3>@ViewBag.BookedParkingLots</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<h6 class="text-muted">Booked Parking Lots</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-warning w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-6">

				<div class="card card-chart">
					<div class="card-header">
						<h4 class="card-title">Revenue</h4>
					</div>
					<div class="card-body">
						<div id="morrisArea"></div>
					</div>
				</div>

			</div>
			<div class="col-md-12 col-lg-6">

				<div class="card card-chart">
					<div class="card-header">
						<h4 class="card-title">Status</h4>
					</div>
					<div class="card-body">
						<div id="morrisLine"></div>
					</div>
				</div>

			</div>
		</div>


		<div class="row">
			<div class="col-md-6 d-flex">

				<div class="card card-table flex-fill">
					<div class="card-header">
						<h4 class="card-title">Bookings List</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>SN.</th>
										<th>Parking Name</th>
										<th>FirstName</th>
										<th>Entry Date</th>
										@*<th>Status</th>*@
									</tr>
								</thead>
								<tbody>

									@if (Model.bookingDTOs != null && Model.bookingDTOs.Count() > 0)
									{
										int count = 1;

										@foreach (var item in Model.bookingDTOs)
										{
											<tr>
												<td>@count</td>
												<td>@item.SlotName</td>
												<td>@item.FirstName</td>
												<td>@item.CreateDate.ToShortDateString()</td>
											@*	<td>
													@{
														var status = item.stat;

														if (status == true)
														{
															<span class="activeUser success-status">Active</span>
														}
														else
														{
															<span class="disabledUser ">Disabled</span>
														}
													}
												</td>*@

											</tr>

											count++;
										}
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>


			<div class="col-md-6 d-flex">

				<div class="card  card-table flex-fill">
					<div class="card-header">
						<h4 class="card-title">Customer List</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>SN.</th>
										<th>Name</th>
										<th>Phone</th>

										<th>Entry Date</th>
									</tr>
								</thead>
								<tbody>

									@if (Model.customers != null && Model.customers.Count() > 0)
									{
										int count = 1;

										@foreach (var item in Model.customers)
										{
											<tr>
												<td>@count</td>

												<td>
													<h2 class="table-avatar">
														<a href="/Admin/Patients/Profile/@item.Id">@item.FullName </a>
													</h2>
												</td>
												<td>@item.PhoneNumber</td>

												<td class="text-end">@item.CreateDate.ToShortDateString()</td>

											</tr>

											count++;
										}
									}

								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>


	</div>
</div>



<script src="~/dashboard/assets/plugins/raphael/raphael.min.js" type="efa6f651afd8f2f4a356ad85-text/javascript"></script>

<script src="~/dashboard/assets/plugins/morris/morris.min.js" type="efa6f651afd8f2f4a356ad85-text/javascript"></script>

<script src="~/dashboard/assets/js/chart.morris.js" type="efa6f651afd8f2f4a356ad85-text/javascript"></script>