@model IEnumerable<ParkingManager.DTO.TimeSlotModule.TimeSlotDTO>

@{
    ViewData["Title"] = "CreatePayment";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="text/css" />
<body>
    <div class="page-wrapper" style="min-height: 754px;background-color: #f8f9fa;">
        <div class="content container-fluid">

            <div class="col-md-8">

                <div class="card">
                    <div class="card-body">

                        <table id="tblSlots" class="table table-sm">
                            <thead>
                                <tr>
                                    <th>SN.</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Status</th>
                                    <th>Appointment Date</th>
                                    <th>Create Date</th>
                                    @*        <th>Action</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count() > 0)
                                {
                                    int count = 1;

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.NewFromTime</td>
                                            <td>@item.NewToTime</td>
                                            <td>
                                                @{
                                                    var status = item.IsBooked;
                                                    if (status == 0)
                                                    {
                                                        <span class='activeUser'> Available </span>
                                                    }
                                                    else
                                                    {
                                                        <span class='disabledUser'> Booked </span>
                                                    }
                                                }
                                            </td>
                                            <td>@item.AppointmentDate.ToShortDateString()</td>
                                            <td>@item.CreateDate.ToShortDateString()</td>
                                            @*       <td>
                                    <a class="btn btn-danger btn btn-sm" href="#" onclick="ViewSlotsDetails('@item.AppointmentDate')" value="">Delete</a>
                                    </td>*@
                                        </tr>
                                        count++;
                                    }
                                }
                            </tbody>
                        </table>


                    </div>
                </div>

            </div>


        </div>
    </div>
</body>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>




<script type="text/javascript">

    $(document).ready(function () {
        var table = $('#tblSlots').DataTable({
            responsive: true
        });

        //GetPostalCodes();
    });


</script>