@model IEnumerable<ParkingManager.DTO.TimeSlotModule.TimeSlotDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">

<body>
    <div class="page-wrapper" style="min-height: 754px;background-color: #f8f9fa;">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-sm-3 col-auto">
                    <h3 class="page-title">Time Slots</h3>
                </div>
                <div class="col-md-9">
                    <button type="button" class="btn btn-success btn-sm  pull-right" data-toggle="modal" data-target="#modalRegisterUser" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus-circle"></i>  </button>

                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <table id="doctors" class="table table-sm" cellspacing="0">
                        <thead>
                            <tr>
                                <th>SN.</th>
                                <th>Appointment Date</th>
                                <th>Created By</th>
                                <th>Create Date</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                int count = 1;
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.AppointmentDate.ToShortDateString()</td>
                                        <td>@item.CreatedByName</td>
                                        <td>@item.CreateDate.ToShortDateString()</td>
                                        <td>
                                            <a class="btn btn-success btn btn-sm" href="#" onclick="ViewSlotsDetails('@item.AppointmentDate.ToShortDateString()')" value="">View Details</a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="~/ParkingManager/timeslot.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var table = $('#doctors').DataTable({
            responsive: true
        });     
    });
</script>





