@model IEnumerable<ParkingManager.DTO.ParkingChargeModule.ParkingChargeDTO>

@{
	ViewData["Title"] = "Index";

	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>*@

<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<body>
	<div class="page-wrapper" style="min-height: 754px;background-color: #f8f9fa;">
		<div class="content container-fluid">
			<div class="">
				<div class="">
					<h4 class="page-title">Manage Parking Charges/ Fee</h4>
				</div>
				<div class="col-md-9">
					@{
						var fees = ViewBag.ParkingCharge;

						if (fees == 0)
						{
							<button type="button" class="btn btn-success btn-sm  pull-right" data-toggle="modal" data-target="#ModalCreateParkingFee" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus-circle"></i>  </button>

						}
					}

				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<table id="tblSlots" class="table-sm" cellspacing="0">
						<thead>
							<tr>
								<th>SN.</th>
								<th>ParkingFee</th>
								<th>Entry Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							@if (Model != null && Model.Count() > 0)
							{
								int count = 1;

								@foreach (var item in Model)
								{
									<tr>
										<td>@count</td>

										<td>@item.ParkingFee</td>



										<td>@item.CreateDate.ToShortDateString()</td>

										<td>
											<a class="btn btn-success btn btn-sm" href="#" onclick="GetRecord('@item.Id')" value=""><i class="fa fa-edit"></i></a>
											@*											<a class="btn btn-danger btn btn-sm" href="#" onclick="GetRecord1('@item.Id')" value=""><i class="fa fa-trash"></i></a>
									*@
										</td>

									</tr>
									count++;
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

<div class="modal fade" id="ModalCreateParkingFee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Create Parking Charges / Fee</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="frmAddParkingFee">
					<div class="row form-row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Name</label>
								<input type="number" class="form-control" name="ParkingFee" id="txtName">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" id="btnSubmit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="ModalUpdateParkingFee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Update Parking Charges / Fee</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="frmUpdateParkingFee">
					<input type="hidden" name="Id" id="txtId1" />
					<div class="row form-row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Name</label>
								<input type="number" class="form-control" name="ParkingFee" id="txtName1">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" id="btnUpdate" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>

<script src="~/dashboard/assets/js/jquery-3.4.1.js"></script>

<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script src="~/ParkingManager/parkingFee.js"></script>

<script type="text/javascript">

	$(document).ready(function () {

		var table = $('#tblSlots').DataTable({

			responsive: true

		});

	});

</script>





